---
layout: default

projectsLS: # projects on the left
- project: AIEOpenGL
- project: LD38
- project: AIEOpenGLLua

projectsRS: # projects on the right
- project: AieGameJamGrow
- project: Pseudo3DIn2d

---
<link rel="stylesheet" href="/assets/css/index.css">
<link rel="stylesheet" href="/assets/css/imageColumns.css">
<div>
    
    <p>
        Hi, Welcome to my website.<br>
        This site will mostly contain C++ and Unity projects, although I do like to try different languages and to better understand languages I already know.
    </p>
    <p>
        Some of the projects will be small test's to see how I would do something I see online.
    </p>
    <p>
        You could say experimentation is my middle name. (although it's no where close)
    </p>
    <br>
    <p>
        I will be updating this with new projects and examples of smaller projects that explore a specific technique or theme.
    </p>
    
    <p>
        I am currently adding more of my projects and updating the site at the moment.
    </p>
    
    <br>

    <center>
    <h2> Sample Projects: </h2>
    </center>
    
    <div id="sampleHolder">
        <div id="leftSide" class="HolderColumn">
            
            {% include imageColumnProjects.html content=page.projectsLS %}

            
        </div><!-- Left side end -->
    
        
        
        <div id="rightSide" class="HolderColumn">
    
            {% include imageColumnProjects.html content=page.projectsRS %}
            
            
        </div><!-- Right side end -->
    
    </div>
    
    <br>
    <div id="CommentJoke" style="color: green">
        //Todo: Add more examples.
    </div>
    <br>
    <hr>
    <br>
    <p>
     My old content can be found in a blog <a href="https://jamesy012-blog.blogspot.com.au/">Here</a>. 
    </p>
    
</div>
