---
layout: default
---



<section id="Title" class="clearfix">
    <center>
	<h1> Projects </h1>
    </center>
	
</section>
<hr>
<div>

    <h2 class="removePadding">Currently working on:</h2>
    <br>
    <table>
        {% for project in site.data.projects %}
            {% if project.project.pData.pInDev %}
                <tr>
                    <th style="width:26%;text-align: left">
                        {% assign projName = project.project.altName | default: project.project.name %}
                        
                        {% if project.project.pData.pPath %}
                            <a href="/pages/Projects/{{project.project.pData.pPath}}.html">
                                {{projName}}
                            </a>
                        {% else %}
                            {{projName}}
                        {% endif %}  
                    </th>
                    <th style="width:40px;">
                            {{ project.project.languages[0].text }}
                    </th>
                    <th>
                        {% if project.project.pData.pStatus %}
                                {{project.project.pData.pStatus}}
                        {% endif %}   
                    </th>
                </tr>   
                <tr>
                    <th style="height:5px;">
                    </th>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <br>
    <h2 class="removePadding">List of all projects:</h2>
    <br>
    <div id="ProjectList">
        {% assign langList = site.data.languages | sort: 'lang' %}
        {% for language in langList %}
        {% assign isFirst =  'true' %}
        <h2 class="removePadding">{{language.lang}}:</h2>
        <table>
            {% for project in site.data.projects %}
                {% if project.project.languages[0].text == language.lang %}
           
                    {% if isFirst == 'false' %}
                        <tr>
                            <th style="height:10px;">
                            </th>
                        </tr>
                    {% endif %}
                    {% assign isFirst =  'false' %}
            
                    <tr>
                        <th style="width:26%;text-align: left">
                            {% assign projName = project.project.altName | default: project.project.name %}
                            
                            {% if project.project.pData.pGameJam %}
                                {% assign isGameJam = '(Game Jam)' %}
                            {% else %}
                                {% assign isGameJam = '' %}
                            {% endif %} 
                            
                            {% if project.project.pData.pPath %}        
                                <a href="/pages/Projects/{{project.project.pData.pPath}}.html">
                                    {{projName}} {{isGameJam}}
                                </a>    
                            {% else %}
                                {{projName}} {{isGameJam}}
                            {% endif %}
                            
                        </th>
                        <th>
                            {% if project.project.smallDesc %}
                                    {{project.project.smallDesc}}
                            {% endif %}
                        </th>
                    </tr>

                {% endif %}
            {% endfor %}
        </table>
        {% endfor %}
    </div>
    
</div>
