a.button {
	width: unset;
	text-align: left;
}


a.button span {
	padding-left: 5px;
	padding-right: 5px;
}

a.image span {
	padding-left: 50px; /* from the default theme */
	padding-right: default;
}

h3 {
    color: initial;
}

footer {
    margin-top: 20px;
}

#view-on-github {
    margin-right: 14px;
    }


img.DuckImage {
    position: absolute;
    width: 32x;
    height: 32px;
    padding-left: 6px;
    margin-top: -8px;
}


table, th, td {
    padding: 2px;
	table-layout: fixed;
    width: 100%;
    border-spacing: 2px;
}

ul {
    padding-left: 40px;
    margin-bottom: 0px;
}



.inner {
    padding-left: 5px;
    padding-right: 5px;
    /*
    border: 2px solid rgba(0,0,0,0.1);
    border-top-style: none;
    */
    width: 750px;
}


p, h2, h3 {
    padding-left: 1em;
    margin-bottom: 10px;
}

.removePadding {
    padding: initial;
    padding-top: 20px;
}

table {
    border: none;
}


/* DARK MODE */
body {
    background-image: url(/assets/images/site/bg.png);
    background-position: 0px;
    background-size: initial;
    background-repeat: repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(34, 34, 34);
    
    text-shadow: 0 0 30px rgba(0,0,0,0.8);
    color: #D3D3D3;
}

h1, h2, h3, h4, h5, h6, header h1 {
    color: #569AFF;
}


#container {
    background-image: url(/assets/images/site/bg-top.png);
    background-position: 50% 0px;
    background-size: initial;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
}

hr {
    background-image: url(/assets/images/site/hr.png);
    background-position: 50%, 0px;
    background-size: initial;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
    

    overflow-x: hidden;
}

a.button {
    background-image: initial;   
    background-position: 50% 0px;
    background-size: initial;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    
    background-color: #202020;
    border: solid 2px #555555;
    border-top-color: #4D4D4D;
    /*box-shadow: 1px 1px 2px #7E7E7E;*/
    box-shadow: unset;
}

a.button:hover {
    background-image: initial;   
    background-position: 50% 0px;
    background-size: initial;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    
    background-color: #2A2A2A;
    border: solid 2px #555555;
    border-top-color: #4D4D4D;
    box-shadow: 1px 1px 10px #838383;
}


a.button span{
    color: #D3D3D3;
}

footer {
    background: initial;
    
}
footer hr{
    position:relative;
    margin-bottom: -20px;
    top: -25px;
}

/* DARK MODE END */


.topInfoBar {
    margin: 0 auto;
    width: 40%;
    padding-left: 30%;  
    padding-right: 30%;
    padding-top: 1rem;    
    padding-bottom: 1rem;

    text-shadow: 0 0 0;
    
    /*background-color: white;
    color: black;*/
    
    overflow:auto;
    
    background-image:url(/assets/images/site/fadeIn2.png);
    background-position: 0px;
    background-size: contain;
}

a {
	color: green;
}
