a.button {
	width: unset;
	text-align: left;
}


a.button span {
	padding-left: 5px;
	padding-right: 5px;
}

a.image span {
	padding-left: 50px; /* from the default theme */
	padding-right: default;
}

h3 {
    color: initial;
}

footer {
    margin-top: 20px;
}

#view-on-github {
    margin-right: 14px;
    }


table, th, td {
    padding: 2px;
	table-layout: fixed;
    width: 100%;
    border-spacing: 2px;
}

ul {
    padding-left: 40px;
    margin-bottom: 0px;
}



.inner {
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid rgba(0,0,0,0.1);
    border-top-style: none;
}

