
div.imageOverlap {
    position: relative;
    margin-bottom: 5px;
    min-height: 3em;
    border-radius: 15px;
    overflow: hidden;
}

img.imageOverlap {
    width: 100%;
    height: 100%;
    vertical-align:middle;
    
   border-radius: 5px; 
}

p.imageOverlap {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    color: #fff;
    margin: 0;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    
    opacity:0.6;
    transition: 0.5s;
}

div.imageOverlap:hover p{
    opacity:1;
}


p.imageOverlapAlt {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 5px 10px 5px 10px;
    top:0;
    left: 0;
    color: #fff;
    margin: 0;
    border-radius: 0px 0px 10px 10px;
    
    opacity:0;
    
    transition: 0.5s;
}

div.imageOverlapAlt:hover p{
    opacity:1;
}

div #leftSide{
    float: left;

}

div #rightSide{
    float: right;
}


div #sampleHolder{
    overflow: auto;
}

div .HolderColumn {
    position: relative;
    width: 49.7%;
}

