.pTab {
	padding-left:2em;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

.normal {
	color: unset;
	background: unset;
	margin-bottom: unset;
	padding: unset;
}
ul {
    padding-left: 40px;
    margin-bottom: 0px;
}